<app-header></app-header>
<body>
    <div id="contenedorInicialEventos">
        <div id="contenedorEventos">
            <!-- <div id="contenedorTitulo">
                <h2>Eventos</h2>
            </div> -->
            <div id="contenedorTarjetas1">
                <h2>Eventos</h2>
            </div>
            
            <div id="contenedorTarjetas">
                
                <app-tarjeta-eventos></app-tarjeta-eventos>
                <app-tarjeta-eventos></app-tarjeta-eventos>
                <app-tarjeta-eventos></app-tarjeta-eventos>
                <app-tarjeta-eventos></app-tarjeta-eventos>
                <app-tarjeta-eventos></app-tarjeta-eventos>
                <app-tarjeta-eventos></app-tarjeta-eventos>
            </div>
            
        </div>

    </div>
</body>
