<body>


    <app-header></app-header>
    <div id="bannerinicio">
        <h4>Banner Imagen</h4>
    </div>
    <div id="contenedorCirculos">
        <div class="contecirr">
            <div class="circulos" id="circucolor1">
                <img width="30px" src="./assets/img/parking-svgrepo-com.png" alt="">
            </div>
            <p>Parking</p>
        </div>
        <div class="contecirr">
            <div class="circulos" id="circucolor2">
                <img width="40px" src="./assets/img/location-pin-svgrepo-com.png" alt="">
            </div>
            <p>Planos</p>
        </div>
        <div class="contecirr">
            <div class="circulos" id="circucolor3">
                <img width="40px" src="./assets/img/calendar-alt-svgrepo-com.png" alt="">
            </div>
            <p>Eventos</p>
        </div>
    </div>
  
</body>