

<body>
    <app-header></app-header>
    <div id="parkingba">
        <div id="contegris">
            
        </div>
        <div id="contereserva">

 
            <div id="isleta">   
                <p><strong>Disponibilidad</strong></p>
                <div id="contecolor">
                <div class="conteiss">
                    <div id="Circuver"></div>
                    <p>Plaza Libre</p>
                </div>
                <div class="conteiss">
                    <div id="Circuroj"></div>
                    <p>Plazo Ocupada</p>
                </div>
            </div>
            
        </div>

            <div id="inpuupar">
                <div id="prueba">
                <div id="inpp">
                <label for="planta">Planta </label>
                <input type="text" id="nombre" name="nombre">
                <label for="planta">Correo Softtek </label>
                <input type="email" id="nombre" name="nombre">
                <label for="planta">Nombre </label>
                <input type="text" id="nombre" name="nombre">
                </div>
                <div id="inppdos">
                <label for="planta">Seleccionar Dia </label>
                <input type="text" id="nombre" name="nombre">
                <label for="planta">Fecha Inicio </label>
                <input type="email" id="nombre" name="nombre">
                <label for="planta">Fecha Fin </label>
                <input type="text" id="nombre" name="nombre">
                </div>
                <button id="botonreserva"  (click)="reserveSpace()">Reservar</button>
            </div>
                
            </div>
            
        </div>
    </div>

</body>