<body>
    <div id="conten">
        <div id="logon">
            <div id="contelogo">
                <img width="180px" src="./assets/img/logo.png" alt="">
            </div>
            <div id="contenidologin">
                <label for="planta">Correo Softtek </label>
                <input type="text" id="nombre" name="nombre">
                <label for="planta">Contraseña </label>
                <input type="text" id="nombre" name="nombre">
                <button id="botontienda2">Sign In</button>
            </div>
        </div>
    </div>
</body>

