<header id="header">
    <div id="logo">
        <img [routerLink]="['']" width="100px" src="./assets/img/logo.png" alt="">
    </div>
    <nav id="menu">
        
        <a [routerLink]="['/parking']" class="main-option" >Parking</a>
        <a [routerLink]="['/planos']"  class="main-option">Planos</a>
        <a [routerLink]="['/eventos']"  class="main-option" >Eventos</a>
        <button  id="botontienda" >Log in</button>
        <button  id="botontienda2" >Sign up</button>
    </nav>

  
</header>
